bin/
obj/
*.ide-wal
*.ide-shm
*.ide
*.lock
*.suo
*.dtbcache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/p01.Person/StyleCop.Cache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P02.Zoo/Settings.StyleCop
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P02.Zoo/StyleCop.Cache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P03.PlayersAndMonsters/StyleCop.Cache
Settings.StyleCop
*.Cache
*.pdb
C# Advanced/C# OOP - June 2019/Unit Testing/Lab/.vs/Lab/lut/10424/t/Skeleton/Debug/netcoreapp2.0/NUnit3.TestAdapter.dll
C# Advanced/C# OOP - June 2019/Unit Testing/Lab/.vs/Lab/lut/10424/t/Skeleton/Debug/netcoreapp2.0/Skeleton.dll
*.dll
*.dll
C# Advanced/C# OOP - June 2019/Unit Testing/Lab/.vs/Lab/lut/10424/t/Skeleton/Debug/netcoreapp2.0/Skeleton.dll
C# Advanced/C# OOP - June 2019/Unit Testing/Lab/.vs/Lab/lut/10424/i/Skeleton/Debug/netcoreapp2.0/Skeleton.dll
C# Advanced/C# OOP - June 2019/Unit Testing/Lab/.vs/Lab/lut/10424/i/Skeleton/Debug/netcoreapp2.0/Skeleton.csproj.FileListAbsolute.txt
*.dll
