bin/
obj/
*.ide-wal
*.ide-shm
*.ide
*.lock
C# Advanced/C# Advanced - May 2019/Stacks and Queues/Lab/p01.Reverse Strings/.vs/p01.Reverse Strings/v15/.suo
C# Advanced/C# Advanced - May 2019/Stacks and Queues/Lab/p01.Reverse Strings/.vs/p01.Stacks and Queues-Lab/v15/.suo
*.suo