bin/
obj/
*.ide-wal
*.ide-shm
*.ide
*.lock
*.suo
*.dtbcache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/p01.Person/StyleCop.Cache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P02.Zoo/Settings.StyleCop
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P02.Zoo/StyleCop.Cache
C# Advanced/C# OOP - June 2019/Inheritance/Exercise/P03.PlayersAndMonsters/StyleCop.Cache
Settings.StyleCop
